<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/images/favicon.png">
  <title>Bypass</title>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="stylesheets/foundation.min.css" />
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="stylesheet" href="https://js.arcgis.com/3.17/dijit/themes/claro/claro.css">
  <link rel="stylesheet" href="https://js.arcgis.com/3.17/esri/css/esri.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://use.fontawesome.com/78b56f5168.js"></script>

  <script type="text/javascript">
    var dojoConfig = {
      parseOnLoad: true
    };
  </script>

  <script src="javascripts/jquery-2.2.2.min.js"></script>
  <script src="https://js.arcgis.com/3.17/"></script>
  <script src="javascripts/foundation.js"></script>
  <script src="javascripts/what-input.js"></script>
  <script src="javascripts/loadingoverlay.min.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84804139-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>


<body>

<div class="reveal" id="termsAndConditionsPopup" data-reveal>
    <h4>Terms and Conditions</h4>
    <p>Certain areas of this Website are restricted from being access by you and Bypass (Safe Routing Inc.) may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.</p>

    <p>Your Content
    In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant Bypass (Safe Routing Inc.) a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.</p>

    <p>Your Content must be your own and must not be invading any third-party’s rights. Bypass (Safe Routing Inc.) reserves the right to remove any of Your Content from this Website at any time without notice.</p>

    <p>No warranties
    This Website is provided “as is,” with all faults, and Bypass (Safe Routing Inc.) express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.</p>

    <p>Limitation of liability
    In no event shall Bypass (Safe Routing Inc.), nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract.  Bypass (Safe Routing Inc.), including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.</p>

    <p>Indemnification
    You hereby indemnify to the fullest extent Bypass (Safe Routing Inc.) from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.</p>

    <p>Severability
    If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</p>

    <p>Variation of Terms
    Bypass (Safe Routing Inc.) is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.</p>

    <p>Assignment
    The Bypass (Safe Routing Inc.) is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p>

    <p>Entire Agreement
    These Terms constitute the entire agreement between Bypass (Safe Routing Inc.) and you in relation to your use of this Website, and supersede all prior agreements and understandings.</p>

    <p>Governing Law and Jurisdiction
    These Terms will be governed by and interpreted in accordance with the laws of the State of California, and you submit to the non-exclusive jurisdiction of the state and federal courts located in California for the resolution of any disputes.</p>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>



  <div class="row nav-bar-wrapper ">
    <div class="row90pct">
      <div class="nav-bar">
        <div class="small-10 medium-10 large-10">
          <div class="logo" id="bypassLogo"><img src='/images/logo.png'></div>

          <div id="missionStatement">Personal Safety, Community Advocacy</div>
        </div>
        <!-- About App -->
        <div class="small-2 medium-2 large-2 columns">
          <div class="infoBtn">
            <a data-open="callInfoPopup">
              <i class="fa fa-info" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="infoBtnMobile">
    <a data-open="callInfoPopup">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    </a>
  </div>

  <div class="reveal" id="callEmergencyPopup" data-reveal>
    <a class='button alert radius' href="tel:911">Call Police</a>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="reveal" id="callInfoPopup" data-reveal>
    <h4>About Bypass</h4>
    <p>
      Bypass will help you get from A-B using the safest route.
      <br><br>
      The 'Red Call' button will call the police and send a message to your allocated emergency contact.
      <br><br>
      Enter your destination in the 'End Location' and 'Start Location' space by typing in your address, clicking on the map, or clicking on the My Location Button. Once the routes are generated, you can toggle between the Bypass and Normal route. Pushing Go allows you to choose your route.
      <br><br>

      Pressing the directions button after route chosen will give you written directions to your desired locations.
      <br><br>
      You can use the filter button to show the map layers available in your area.
      <br><br>
      Crime grid overlays the aggregated anaylsis. Raw data allows see crimes, businesses, and points of interest. Please allow for loading. Not all browsers may be supported.
    </p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Turn-by-turn -->
  <div id='directions-button' class="small-12 large-12 columns directions-button-active directions-button-on" style="display:none;">
    <span>Click Here For Directions!</span>
  </div>

  <div class="row">
    <div class="filter-options-nav-bar large-12 columns" style="display:none;">
      <div class="row">
      </div>
    </div>
  </div>

  <div id='map_wrapper'>
    <div class="row">
      <div class="directions-nav-bar large-12 columns">
        <div id="map"></div>

        <div class="row90pct">
          <div id="directionsDisplay" style='overflow:hidden;' class="large-12 columns"></div>
        </div>
        <div class="row90pct">
          <div type="text" id="destinationAddressInitial" class="directions-textbox" data-ready-status="ready"></div>
        </div>

        <div class="mint-background row address-container">
          <div>
            <div id="address-wrapper" style="display:none;">
              <div class="directions-nav-bar input-wrapper">
                <div class="addressRow" id="">
                  <span class="tofrom">From:</span>
                  <div type="text" id="startAddress" class="input_address" data-ready-status="notReady"></div>
                </div>
                <div id="directionsDisplay" style='overflow:hidden;' class="large-12 columns"></div>
                <div class="addressRow" id="">
                  <span class="tofrom">To:</span>
                  <div type="text" id="destinationAddress" class="input_address" data-ready-status="notReady"></div>
                </div>
              </div>
              <div class="routeChoice">
                <div class='routeSelected fa fa-check-square-o halfContainer' id="BypassRoute" style="display:none;" data-time-distance="">
                  <span class="routeOption" id="bypassOption"></span>
                </div>
                <div class='routeUnselected fa fa-warning halfContainer' id="NormalRoute" style="display:none;" data-time-distance="">
                  <span class="routeOption" id="normalOption"></span>
                </div>
              </div>
            </div>
          </div>


          <div class="row90pct">
            <a id="myLocation" class="bottom-circle iconUnselected" style="visibility: hidden">
              <div class="horizontal-center fa fa-crosshairs"></div>
            </a>
          </div>
        </div>

      </div>
    </div>


    <div class="row90pct lowerOptions">

      <div id="solveRoute" class="" data-solve-phase="generate" style="display:none;">Take Me There Safely!</div>
    <div class="row bottom-route-bar" style="display:none">
      <div id = "routeDistance"><span id="calc-time-dist"></span>Begin! </div>
        <div id="beginRoute" class="mint-background"> <i class="fa fa-hand-o-right" aria-hidden="true"></i></div>
    </div>
    <div class="extraData">
      <div id="featureInfo" class="" style="visibility:visible;"> </div>
      <div id="crimeInfo" class="" style="visibility:visible;"> </div>
      </div>
      <div class="bottom-buttons">
        <div class="quarter-width"><button id="resetBtn" class="bottom-circle iconUnselected"><i class="fa fa-refresh" aria-hidden="true"></i></button></div>
        <div class="quarter-width"><button id="featuresButton" class='bottom-circle fa fa-shield iconUnselected' data-features-display="none"></button></div>
        <div class="quarter-width"><button id="crimesButton" class='bottom-circle fa fa-warning iconUnselected' data-crime-display="none"></button></div>
        <div class="quarter-width"><button id="emergencyBtn" class='bottom-circle fa fa-phone iconUnselected' data-open="callEmergencyPopup"></button></div>
      </div>
  </div>


  <script src="javascripts/app.js"></script>
  </body>

</html>
