<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/images/BypassIcon.png">
  <title>Bypass</title>
    <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/images/BypassIcon.png"/>
    <!-- Stylesheets -->
  <link rel="stylesheet" href="stylesheets/foundation.min.css" />
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="stylesheet" href="https://js.arcgis.com/3.17/dijit/themes/claro/claro.css">
  <link rel="stylesheet" href="https://js.arcgis.com/3.17/esri/css/esri.css">
    <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://use.fontawesome.com/78b56f5168.js"></script>

  <script type="text/javascript">
    var dojoConfig = {
      parseOnLoad: true
    };
  </script>

  <script src="javascripts/jquery-2.2.2.min.js"></script>
  <script src="https://js.arcgis.com/3.17/"></script>
  <script src="javascripts/foundation.js"></script>
  <script src="javascripts/what-input.js"></script>


</head>



<body>

  <div class="row nav">
    <div class="nav-bar large-12 columns">
      <!-- Current Location -->
      <div class='current-location'>
        <a id="myLocation">
          <i class="fa fa-crosshairs" aria-hidden="true"></i>
        </a>
          <!-- <button class='button radius BypassRouteUnselected' id="BypassRoute" style="display:none;"><span>Bypass</span></button> -->

          <!-- <button class='button radius BypassRouteUnselected' id="NormalRoute" style="display:none;"><span>Normal</span></button> -->
          <div id="GPSdiv" style="display:none;"></div>
        </div>

      <!-- Logo -->
      <div class="logo">
        <img id='logo' src='/images/logo.png'></img>
      </div>

      <!-- Call Police Button -->
      <div class="call-police">
        <a data-open="callPolicePopup">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
      </div>


      <!-- Call Police Window -->
      <div class="reveal" id="callPolicePopup" data-reveal>
        <a class='button alert radius' href="tel:911">Call Police<a></a>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


        <!-- About App -->
      <!-- <div class="app-info">
        <a data-open="infoPopup">
          <i class="fa fa-info" aria-hidden="true"></i>
        </a>
      </div> -->
    </div>
  </div>
  <div id='dataSetButton' class="small-6 large-6 columns filter-button-inactive">
   <select>
     <option value="default"><span>What crimes would you like to avoid?</span></option>
     <option class="allCrime">All Crime</option>
     <option class="crime">Abduction</option>
     <option class="crime">Arson</option>
     <option class="crime">Assault</option>
     <option class="crime">Burglary</option>
     <option class="crime">GTA</option>
     <option class="crime">Homicide</option>
     <option class="crime">Larceny</option>
     <option class="crime">Narcotics</option>
     <option class="crime">Robbery</option>
     <option class="crime">Sex Offense</option>
     <option class="crime">Street Nuissance</option>
     <option class="crime">Weapon</option>
     <!-- Businesses -->
      <!-- <option class="allBusiness">-</option>
     <option class="business">Beauty/Wellness</option>
     <option class="business">Entertainment</option>
     <option class="business">Grocery</option>
     <option class="business">Medical</option>
     <option class="business">Repair</option>
     <option class="business">Residence</option>
     <option class="business">Restaurant/Bar</option>
     <option class="business">Retail</option>
     <option class="business">School</option>
     <option class="business">Services</option>
     <option class="business">Transportation</option>
     <option>----Pts of Interest----</option>
     <option>Sex Offender</option>
     <option>Wifi Location</option> -->
   </select>
  </div>
  </div>

  </div>

  </div>



  <!-- Data Format Options -->
  <div class="row">
  <div class="filter-options-nav-bar large-12 columns" style="display:none;">
  <div class="row">
  <div id='mapFormatButton' class="small-4 large-4 columns ">
    <select>
      <option value="default">Crime Views</option>
      <option value="crimeGrid">By Block</option>
      <option value="rawData">By Crime</option>
      <!-- <option>Heat Map</option> -->
    </select>
  </div>
  <!-- Data point types -->
  <!-- <div id='dataSetButton' class="small-4 large-4 columns">
    <select>
      <option value="default">Crimes & Safety</option>
      <option class="allCrime">----Crimes----</option>
      <option class="crime">Abduction</option>
      <option class="crime">Arson</option>
      <option class="crime">Assault</option>
      <option class="crime">Burglary</option>
      <option class="crime">GTA</option>
      <option class="crime">Homicide</option>
      <option class="crime">Larceny</option>
      <option class="crime">Narcotics</option>
      <option class="crime">Robbery</option>
      <option class="crime">Sex Offense</option>
      <option class="crime">Street Nuissance</option>
      <option class="crime">Weapon</option>
      <!-- Businesses -->
      <!-- <option class="allBusiness">----Business----</option>
      <option class="business">Beauty/Wellness</option>
      <option class="business">Entertainment</option>
      <option class="business">Grocery</option>
      <option class="business">Medical</option>
      <option class="business">Repair</option>
      <option class="business">Residence</option>
      <option class="business">Restaurant/Bar</option>
      <option class="business">Retail</option>
      <option class="business">School</option>
      <option class="business">Services</option>
      <option class="business">Transportation</option>
      <option>----Pts of Interest----</option>
      <option>Sex Offender</option>
      <option>Wifi Location</option>
    </select>
  </div> --> -->

  <!-- Time Frame Range -->
  <div id='timeFrameButton' class="small-4 large-4 columns">
    <select>
      <option value="default">Time Frame</option>
      <option>Last Day</option>
      <option>Last Week</option>
      <option>Last Month</option>
      <option>Last Year</option>
    </select>
  </div>
  </div>
  </div>
  </div>
  <!-- Location/ Destination Input -->
<div class="row">
  <div class="directions-nav-bar large-12 columns">
    <form action="addressLookup">
      <div class="row">
        <div class="large-12 columns input-wrapper">
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
          <input class='directions-textbox' type="text" name="startAddress" id="startAddress" placeholder='Choose your starting point'>

        </div>
      </div>
      <div class="row">
        <div id="directionsDisplay" style='overflow:hidden;' class="large-12 columns"></div>
      </div>
      <div class="row">
        <div class="large-12 columns input-wrapper">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <input class='directions-textbox' type="text" name="destinationAddress" id="destinationAddress" placeholder='Choose your destination'>

        </div>
      </div>
    </form>
  </div>
</div>
<!-- Route to Safety -->
<div class="row">
  <div id="solveRoute" class="directions-nav-bar large-12 columns" style='display:none;'>
    Get Home Safe!
  </div>
</div>
<!-- Directions in Text -->
  <!-- <div class="row">
    <div class="filter-directions-nav-bar large-12 columns">
      <div class="row">
      <div id='directions-button' class="small-6 large-6 columns directions-button-inactive">
        <span>Turn-by-Turn</span>
      </div> -->
      <!-- Filter Crime and interest points button -->


    <!--         <div class="row">
      <div class="filter-options-nav-bar large-12 columns">
        <div class="row">
          <div id='mapFormatButton' class="small-4 large-4 columns ">
            <span>Map Format</span>
          </div>
          <div id='dataSetButton' class="small-4 large-4 columns">
            <span>Data Set</span>
          </div>
          <div id='timeFrameButton' class="small-4 large-4 columns">
            <span>Time Frame</span>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div id='map_row' class="large-12 columns">
        <div id="map"></div>
      </div>
    </div>

    <button id="resetBtn" class='button'>New Route</button>

    <!-- Current Location -->
    <!-- <div class='bottomRightNav'>
      <button class='button radius' id="myLocation"></a>
        <button class='button radius BypassRouteUnselected' id="BypassRoute" style="display:none;"><span>Bypass</span></button>

        <!button class='button radius BypassRouteUnselected' id="NormalRoute" style="display:none;"><span>Normal</span></button> -->
        <!-- <div id="GPSdiv" style="display:none;"></div>
      </div> -->
 -->


      <div class="reveal" id="infoPopup" data-reveal>
        <h4>About Bypass</h4>
        <p>Bypass will help you get from A-B using the safest route.
        <br><br>
        The 'Red Call' button will call the police and send a message to your allocated emergency contact.
        <br><br>
        Enter your destination in the 'End Location' and'Start Location' space by typing in your address, clicking on the map, or clicking on the My Location Button. Once the routes are generated, you can toggle between the Bypass and Normal route.  Pushing Go allows you to choose your route.
        <br><br>

        Pressing the directions button after route chosen will give you written directions to your desired locations.
        <br><br>
        You can use the filter button to show the map layers available in your area.
        <br><br>
        Crime grid overlays the aggregated anaylsis. Raw data allows see crimes, businesses, and points of interest. Please allow for loading. Not all browsers may be supported.

        </p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <script src="javascripts/app.js"></script>
    </body>
    </html>
