/* zurb foundation overrides - BEGIN */
.row {
  max-width: 100%;
}

h1 {
  font-size:30px;
  font-weight:bold;
}

.reveal {
  padding-top:20px;
}

.button {
  background-color: #FFFFFF;
  color: #000000;
  border: #BBBBBB solid 2px;
  font-weight:bold;
  transition:none;
}

.button:hover {
  background-color: #26A69A;
}
/* zurb foundation overrides - END */

/* only affects input tag placeholder color - BEGIN */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #FEFDFA;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #FEFDFA;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #FEFDFA;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FEFDFA;
}
/* only affects input tag placeholder color - END */

#BypassRoute > span {
  background:url('../images/curved_arrow_black.png') left center no-repeat;
  padding-left:21px;
}

#BypassRoute:hover > span {
  background:url('../images/curved_arrow_white.png') left center no-repeat;
}

#NormalRoute > span {
  background:url('../images/curved_arrow_black.png') left center no-repeat;
  padding-left:21px;
}

#NormalRoute:hover > span {
  background:url('../images/curved_arrow_white.png') left center no-repeat;
}

#myLocation {
  padding:0;
}

.bottomRightNav {
  right: 30px;
  bottom: 10px;
  position: absolute;
  width:80px;
}

.bottomRightNav > button {
  margin-bottom: 10px;
}

#startAddress.directions-textbox {
  background:url('../images/directions_arrow.png') left center no-repeat;
}

#destinationAddress.directions-textbox {
  background:url('../images/pin.png') left center no-repeat;
}

.directions-textbox {
  text-indent:45px;
  width:100%;
  padding:7px 0;
  color: white;
  border:none;
  border-bottom: gray 1px solid;
  font-weight:bold;
}

.directions-nav-bar {
  padding-left:0;
  padding-right:0;
  background: #8CD4CC;
}

.close-button {
  top: 5px;
  right: 5px;
  position: absolute;
}

#callPolicePopup > a {
  width: 100%;
  margin-top:40px;
  margin-bottom:40px;
}

#infoPopup {
  background: #B5B5B5;
  color: white;
}

.icon-wrapper {
  line-height: 50px;
  height: 50px;
  width: 50px;
  margin-top:6px;
}

.nav-bar {
  height:65px;
  background: #F8F8F8;
  border-bottom: #556270 1px solid;
}

.nav-bar div {
  float:left;
  width:33%;
  text-align:center;
}

#routeNameForm {
	position: absolute;
	bottom: 170px;
	right: 0px;
	color: white;
	background:black;
}

.esriSimpleSlider {
  margin-top:15px;
  z-index:inherit !important;
}

#map {
  position: absolute;
  height: 100%;
  width:100%;
}

#map_row {
  padding-left:0;
}

