/* zurb foundation overrides - BEGIN */
.row {
  max-width: 100%;
}

h1 {
  font-size:30px;
  font-weight:bold;
}

.reveal {
  padding-top:20px;
}
/* zurb foundation overrides - END */

/* only affects input tag placeholder color - BEGIN */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #FEF9F0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #FEF9F0;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #FEF9F0;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FEF9F0;
}
/* only affects input tag placeholder color - END */

.directions-textbox {
  width:100%;
  padding:7px 13px;
  background: #8CD4CC;
  color: white;
  border:none;
  border-bottom: gray 1px solid;
  font-weight:bold;
}

.middle-nav-bar {
  padding-left:0;
  padding-right:0;

}

.close-button {
  top: 5px;
  right: 5px;
  position: absolute;
}

#callPolicePopup > a {
  width: 100%;
  margin-top:40px;
  margin-bottom:40px;
}

#infoPopup {
  background: #B5B5B5;
  color: white;
}

.icon-wrapper {
  line-height: 50px;
  height: 50px;
  width: 50px;
  margin-top:6px;
}

.nav-bar {
  height:65px;
  background: #F8F8F8;
  border-bottom: #556270 1px solid;
}

.nav-bar div {
  float:left;
  width:33%;
  text-align:center;
}

#routeNameForm {
	position: absolute;
	bottom: 150px;
	right: 0px;
	color: white;
	background:black;
}

#rightToolbar {
	position: absolute;
	bottom: 200px;
	right:0px;
	background:black;
	color: white;
}

#addStopsBtn {
	position: absolute;
	background: green;
	color: white;
	bottom: 80px;
	right: 0px;
}

#clearRoutesBtn {
	position: absolute;
	background: red;
	color: white;
	bottom: 50px;
	right: 0px;
}

#addBarriersBtn {
	position: absolute;
	bottom: 420px;
	right:0px;
	color: white;
	background:black;
}

#severityForm {
	position: absolute;
	bottom:450px;
	right:0px;
	color: white;
	background:black;
}

.esriSimpleSlider {
  margin-top:15px;
  z-index:inherit !important;
}

#map {
  position: absolute;
  height: 100%;
  width:100%;
}

#map_row {
  padding-left:0;
}

