/* zurb foundation overrides - BEGIN */
.row {
  max-width: 100%;
}

h1 {
  font-size:30px;
  font-weight:bold;
}
/* zurb foundation overrides - END */

#routeNameForm {
	position: absolute;
	bottom: 150px;
	right: 0px;
	color: white;
	background:black;
}

#rightToolbar {
	position: absolute;
	bottom: 200px;
	right:0px;
	background:black;
	color: white;
}

#addStopsBtn {
	position: absolute;
	background: green;
	color: white;
	bottom: 80px;
	right: 0px;
}

#clearRoutesBtn {
	position: absolute;
	background: red;
	color: white;
	bottom: 50px;
	right: 0px;
}

#addBarriersBtn {
	position: absolute;
	bottom: 420px;
	right:0px;
	color: white;
	background:black;
}

#severityForm {
	position: absolute;
	bottom:450px;
	right:0px;
	color: white;
	background:black;
}

.esriSimpleSlider {
  margin-top:15px;
}

#map {
  position: absolute;
  height: 100%;
  width:100%;
}

#map_row {
  padding-left:0;
}

.nav-bar {
  height:50px;
  background: lightgray;
  border-bottom: black 1px solid;
}

