/* zurb foundation overrides - BEGIN */
.row {
  max-width: 100%;
}

h1 {
  font-size:30px;
  font-weight:bold;
}

.reveal {
  padding-top:20px;
}

.button {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #BBBBBB;
  font-weight:bold;
  transition:none;
}

.button:hover, .button:focus {
  background-color: #26A69A;
  color: #FFFFFF;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea, [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
  border: none;
  background-color: #8CD4CC;
  outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
  box-shadow: none;
  transition: none;
}

select {
  margin:0;
  border:none;
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
  border-radius:0 !important;
  font-size:14px;
}

option {
  min-height:20px;
}
/* remove the iphone bug where the input boxes are rounded */
input {
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
  border-radius: 0px;
}
/* zurb foundation overrides - END */

/* only affects input tag placeholder color - BEGIN */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #FEFDFA !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #FEFDFA !important;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #FEFDFA !important;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FEFDFA !important;
}
/* only affects input tag placeholder color - END */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#logo {
  margin: 5px 0;
  height:55px;
}

#resetBtn {
  position:absolute;
  left: 20px;
  bottom: 4px;
}

.BypassRouteSelected {
  background-color: #26A69A;
  color: #FFFFFF;
}

#BypassRoute:hover > span,
.BypassRouteSelected > span {
  background:url('../images/curved_arrow_white.png') left center no-repeat;
  padding-left:21px;
}

.BypassRouteUnselected {
  background-color: #FFFFFF;
  color: #000000;
}

.BypassRouteUnselected > span {
  background:url('../images/curved_arrow_black.png') left center no-repeat;
  padding-left:21px;
}

.NormalRouteSelected {
  background-color: #26A69A;
  color: #FFFFFF;
}

#NormalRoute:hover > span,
.NormalRouteSelected > span {
  background:url('../images/curved_arrow_white.png') left center no-repeat;
  padding-left:21px;
}

.NormalRouteUnselected {
  background-color: #FFFFFF;
  color: #000000;
}

.NormalRouteUnselected > span {
  background:url('../images/curved_arrow_black.png') left center no-repeat;
  padding-left:21px;
}

#myLocation {
  margin-left:58px;
  padding:0;
  background:url('../images/crosshair_unselected.png') left center no-repeat;
  width:44px;
  height:44px;
}

#myLocation:hover {
  background:url('../images/crosshair_selected.png') left center no-repeat;
}

.bottomRightNav {
  right: 20px;
  bottom: 2px;
  position: absolute;
  width:102px;
}

.bottomRightNav > button {
  margin-bottom: 18px;
}

#startAddress {
  border-bottom: 1px solid #BBBBBB;
}
#startAddress.directions-textbox {
  background-image:url('../images/directions_arrow.png');
}

#destinationAddress {
  border-bottom: 1px solid #BBBBBB;
}
#destinationAddress.directions-textbox {
  background-image:url('../images/pin.png');
}

.dynamicDirectionsRow {
  padding:5px 59px;
}

.directions-textbox {
  text-indent:45px;
  width:100%;
  height:34px;
  padding:7px 0;
  margin:0;
  color: white;
  border:none;
  font-weight:bold;
  background-color: #8CD4CC !important;
  background-position: left center;
  background-repeat: no-repeat;
  border-radius:0;
}

.directions-nav-bar {
  padding-left:0;
  padding-right:0;
}
.directions-nav-bar > form:first-child > .row,
.directions-nav-bar > form > .row:last-child,  {
  background: #8CD4CC;
}

.close-button {
  top: 5px;
  right: 5px;
  position: absolute;
}

#callPolicePopup > a {
  width: 100%;
  margin-top:40px;
  margin-bottom:40px;
}

#infoPopup {
  background: #B5B5B5;
  color: white;
}

.icon-wrapper {
  line-height: 50px;
  height: 50px;
  width: 50px;
  margin-top:6px;
}

.nav-bar {
  height:65px;
  background: #F8F8F8;
  border-bottom: 1px solid #BBBBBB;
}

.filter-directions-nav-bar {
  font-weight:bold;
  border-bottom: 1px solid #BBBBBB;
  padding-left:11px;
  padding-right:11px;
}
.filter-directions-nav-bar > .row > .columns:first-child {
  border-right: 1px solid #BBBBBB;
}
.filter-directions-nav-bar > .row > .columns:last-child {
  padding-left: 10px;
}

#filter-button {
  cursor:pointer;
  padding-top:3px;
  padding-bottom:2px;
}
#filter-button:hover,
.filter-button-active {
  background-color: #26A69A;
  color: #FFFFFF;
}
.filter-button-inactive {
  background-color: #FFFFFF;
  color: #000000;
}

#directions-button {
  cursor:pointer;
  padding-top:3px;
  padding-bottom:2px;
}
#directions-button:hover,
.directions-button-active {
  background-color: #26A69A;
  color: #FFFFFF;
}
.directions-button-inactive {
  background-color: #FFFFFF;
  color: #000000;
}
#directions-button:hover > span,
.directions-button-active > span {
  background:url('../images/directions_btn_active.png') left center no-repeat;
  padding-left:30px;
}
.directions-button-inactive > span {
  background:url('../images/directions_btn_inactive.png') left center no-repeat;
  padding-left:30px;
}

#filter-button:hover > span,
.filter-button-active > span {
  background:url('../images/filter_button_active.png') left center no-repeat;
  padding-left:30px;
}
.filter-button-inactive > span {
  background:url('../images/filter_button_inactive.png') left center no-repeat;
  padding-left:30px;
}

.nav-bar div {
  float:left;
  width:33%;
  text-align:center;
}

#solveRoute {
  cursor:pointer;
  text-align: center;
  font-weight: bold;
  padding-top:4px;
  padding-bottom:4px;
  border-bottom: 1px solid #BBBBBB;
}

#solveRoute:hover {
  background-color: #26A69A;
  color: #FFFFFF;
}

#routeNameForm {
	position: absolute;
	bottom: 170px;
	right: 0px;
	color: white;
	background:black;
}

.esriSimpleSlider {
  margin-top:15px;
  z-index:inherit !important;
}

#map {
  position: absolute;
  height: 100%;
  width:100%;
}

#map_row {
  padding-left:0;
}

.filter-options-nav-bar {
  font-weight:bold;
  border-bottom: 1px solid #BBBBBB;
  overflow: hidden;}
.filter-options-nav-bar > .row > .columns:first-child {
  border-right: 1px solid #BBBBBB;
}
.filter-options-nav-bar > .row > .columns:nth-child(2) {
  border-right: 1px solid #BBBBBB;
}
.filter-options-nav-bar > .row > .columns:last-child {
}
.filter-options-nav-bar > .row > .columns {
  padding:0;
}
.filter-options-nav-bar > .row > .columns > select {
  padding-left:15px;
  cursor: pointer;
}
.filter-options-nav-bar > .row > .columns > select:hover {
  background-color: #26A69A;
  color: #FFFFFF;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: #FFFFFF"></polygon></svg>')
}
